In [1]:
from __future__ import division
import numpy as np
import pandas as pd

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
categories = {0: 'pelota', 1: 'perro', 2: 'taza', 3: 'tractor'}
#rcategories = {v: k for (k, v) in categories}
rcategories = {'pelota': 0, 'perro': 1, 'taza': 2, 'tractor': 3}

In [3]:

data = pd.read_csv('../data/summary_data.csv')

In [4]:
data.describe()

,item,pred_combined,pred_rgb,pred_pcloud,entropy_rgb,entropy_pcloud,margin_rgb,margin_pcloud,jsd
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,24.000000,32.000000,36.000000
mean,19.972222,0.750000,0.555556,1.805556,0.960005,1.158972,8.125000,10.156250,0.473451
std,10.976562,1.105183,0.998411,0.980363,0.738291,0.551464,6.347286,6.555517,0.246514
min,2.000000,0.000000,0.000000,0.000000,-0.000000,-0.000000,0.000000,0.000000,0.148189
25%,10.750000,0.000000,0.000000,2.000000,-0.000000,0.937455,3.500000,6.500000,0.278769
50%,19.500000,0.000000,0.000000,2.000000,1.203820,1.295141,6.000000,8.500000,0.439405
75%,29.250000,2.000000,1.000000,2.000000,1.560825,1.534184,12.000000,14.250000,0.621204
max,38.000000,3.000000,3.000000,3.000000,1.990765,1.896140,21.000000,24.000000,1.000000

In [5]:
data.ix[:, 1:3].head()

        y  pred_combined
0  pelota              0
1  pelota              2
2  pelota              2
3  pelota              2
4  pelota              0

In [6]:
labels = data.y
data.y = data.y.apply(lambda x: rcategories[x])

In [7]:
data.ix[:, 1:3].T

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
y,0,0,0,0,0,0,3,3,3,3,...,1,1,2,2,2,2,2,2,2,2
pred_combined,0,2,2,2,0,0,0,0,0,2,...,1,0,0,0,1,0,1,3,3,0

#  Metrics

## F1-Score and Accuracy

In [8]:
from sklearn.metrics import f1_score, accuracy_score

In [9]:
print "Accuracy Combined: \t", accuracy_score(data.y, data.pred_combined)
print "Accuracy RGB: \t\t", accuracy_score(data.y, data.pred_rgb)
print "Accuracy PCloud: \t", accuracy_score(data.y, data.pred_pcloud)

Accuracy Combined: 	0.138888888889
Accuracy RGB: 		0.194444444444
Accuracy PCloud: 	0.166666666667

In [10]:
print "F1 Combined: \t", f1_score(data.y, data.pred_combined)
print "F1 RGB: \t", f1_score(data.y, data.pred_rgb)
print "F1 PCloud: \t", f1_score(data.y, data.pred_pcloud)

F1 Combined: 	0.117231296632
F1 RGB: 	0.14669946164
F1 PCloud: 	0.145843045843

/usr/local/lib/python2.7/dist-packages/sklearn/metrics/classification.py:676: DeprecationWarning: The default `weighted` averaging is deprecated, and from version 0.18, use of precision, recall or F-score with multiclass or multilabel data or pos_label=None will result in an exception. Please set an explicit value for `average`, one of (None, 'micro', 'macro', 'weighted', 'samples'). In cross validation use, for instance, scoring="f1_weighted" instead of scoring="f1".
  sample_weight=sample_weight)
/usr/local/lib/python2.7/dist-packages/sklearn/metrics/classification.py:676: DeprecationWarning: The default `weighted` averaging is deprecated, and from version 0.18, use of precision, recall or F-score with multiclass or multilabel data or pos_label=None will result in an exception. Please set an explicit value for `average`, one of (None, 'micro', 'macro', 'weighted', 'samples'). In cross validation use, for instance, scoring="f1_weighted" instead of scoring="f1".
  sample_weight=sample_weight)
/usr/local/lib/python2.7/dist-packages/sklearn/metrics/classification.py:676: DeprecationWarning: The default `weighted` averaging is deprecated, and from version 0.18, use of precision, recall or F-score with multiclass or multilabel data or pos_label=None will result in an exception. Please set an explicit value for `average`, one of (None, 'micro', 'macro', 'weighted', 'samples'). In cross validation use, for instance, scoring="f1_weighted" instead of scoring="f1".
  sample_weight=sample_weight)
/usr/local/lib/python2.7/dist-packages/sklearn/metrics/classification.py:958: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## Confusion Matrix

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
cmat = confusion_matrix(data.y, data.pred_combined)
cmat

array([[ 3,  0,  3,  0],
       [ 3,  1,  2,  1],
       [ 4,  2,  0,  2],
       [13,  0,  1,  1]])

In [13]:
catnames = ['pelota', 'perro', 'taza', 'tractor']

In [14]:
pcm = pd.DataFrame(cmat, index=catnames, columns=catnames)
pcm

         pelota  perro  taza  tractor
pelota        3      0     3        0
perro         3      1     2        1
taza          4      2     0        2
tractor      13      0     1        1

##  Normalized Confusion Matrix

In [48]:
normalized = np.zeros([4,4])
for index, row in enumerate(cmat):
    normalized[index] = np.true_divide(row, sum(row))
normalized

array([[ 0.5       ,  0.        ,  0.5       ,  0.        ],
       [ 0.42857143,  0.14285714,  0.28571429,  0.14285714],
       [ 0.5       ,  0.25      ,  0.        ,  0.25      ],
       [ 0.86666667,  0.        ,  0.06666667,  0.06666667]])

In [60]:
cm_normalized = pd.DataFrame(normalized, index=catnames, columns=catnames)
cm_normalized = cm_normalized.apply(np.round, args=(2,))
cm_normalized

         pelota  perro  taza  tractor
pelota     0.50   0.00  0.50     0.00
perro      0.43   0.14  0.29     0.14
taza       0.50   0.25  0.00     0.25
tractor    0.87   0.00  0.07     0.07

In [62]:
cm_normalized.values.diagonal().mean()

0.17749999999999999